/* persona.component.css */

.persona-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 2rem;
}

mat-card {
  max-width: 600px; /* Ajusta el ancho máximo del formulario según sea necesario */
  width: 100%;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px; /* Ajusta el margen inferior entre los campos según sea necesario */
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
/* 
.container {
  display: flex;
} */
/* Ajusta otros estilos según sea necesario */
