<mat-toolbar >
    <a routerLink="" mat-button>
        <img
        width="40"
        alt="Angular Logo"
        src="../assets/img/union-europea.png"/>
        <span class="span_title">
            Becas UE
        </span>
    </a>

    <div class="menu">
        <a routerLink="login">
            login
        </a>
        <a routerLink="universidad">
            universidad
        </a>
        <a routerLink="solicitudProgramas">
            Solicitar Programas
        </a>
        <a routerLink="aceptarProgramas">
            Solicitudes Programas
        </a>
        <a routerLink="persona">
            Persona
        </a>
        <a routerLink="">
            Configuracion
        </a>
    </div>    
</mat-toolbar>