<mat-toolbar >
    <a routerLink="" mat-button>
        <img
        width="40"
        alt="Angular Logo"
        src="../assets/img/union-europea.png"/>
        <!-- <span class="span_title">
            Becas UE
        </span> -->
    </a>

    <div class="menu">
        <a routerLink="OfertaAnual" (click)="ofertaAnual()">
            OfertaAnual
        </a>
        <a routerLink="universidad" (click)="universidad()">
            Universidad
        </a>
        <a routerLink="programasList" (click)="programasOfertados()">
            Programas Ofertados
        </a>
        <a routerLink="aceptarProgramas" (click)="solicitudesProgramas()">
            Solicitudes Programas
        </a>
        <a routerLink="persona" (click)="registrar()">
            Candidatos
        </a>
        <!-- <a routerLink="">
            Configuracion
        </a> -->
    </div>    
</mat-toolbar>