<!-- login.component.html -->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="botones">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" style="margin-right: 1rem;">Iniciar sesión</button>
        <button mat-raised-button color="primary" (click)="registrar()" [disabled]="loginForm.invalid">Registrarse</button>
      </mat-card-actions>
    </mat-card>
</form>
